<div class='row'>
  <div class='col-6' style='margin: auto;'>
    <%= form_with model: @post do |form| %>
      <div>
        <%= form.label :title %><br>
        <%= form.text_field :title, class: 'form-control form-control-sm' %>
        <% @post.errors.full_messages_for(:title).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <div>
        <%= form.label :content %><br>
        <%= form.text_area :content, class: 'form-control form-control-sm' %><br>
        <% @post.errors.full_messages_for(:content).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <div class="actions">
        <%= form.submit "Create Post", class: "btn btn-primary col-12" %>
      </div>
    <% end %>
  </div>
</div>
