<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "Member's Only", root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <% if user_signed_in? %>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'New Post', new_post_path, class: 'nav-link' %> 
        </li>
      </ul>
      <% end %>
    </div>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete }, method: :delete, class: 'nav-link' %> 
        </li>
        <li class="nav-item active">
          <%= link_to 'Edit profile', edit_user_registration_path, class: 'nav-link' %>
        </li>
        <% else %>
        <li class="nav-item active">
          <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link my-2 my-lg-0'  %> 
        </li>
        <span>/</span>
        <li class="nav-item active">
          <%= link_to 'Log in', new_user_session_path, class: 'nav-link' %>
        </li>
        <% end %>
      </ul>
  </div>
</nav>